<!DOCTYPE html>
<html>
<head>
  <title>Monitoshi</title>
  <link rel="icon" type="image/x-icon" href="./favicon.png">
</head>
<body>
    <p>
        <%= downtimes %> downtimes detected since <%= created.getFullYear() %> / <%= created.getMonth() %>.<br />
        <%= monitors %> websites monitored.
    </p>
</body>
</html>
